<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.larrymyers.android.posttoff"
      android:versionCode="1"
      android:versionName="1.0">
    
    <application android:icon="@drawable/icon" android:label="@string/app_name">
        <activity android:name=".EntryView"
                  android:label="@string/title_send">
            
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>

        <activity android:theme="@android:style/Theme.Translucent.NoTitleBar" 
                  android:name=".OpenFF" 
                  android:label="@string/title_main">
        </activity>
        
        <activity android:name=".AuthView" 
                  android:label="@string/title_main">
                  
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

    <uses-permission android:name="android.permission.INTERNET" />
</manifest> 